/* Vodafone fonts */

@font-face {
    font-family: "Vodafone";
    src: url("../fonts/vodafone-bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Vodafone";
    src: url("../fonts/vodafone-regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Vodafone";
    src: url("../fonts/vodafone-light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* Vodafone customisations */

body {
    font-family: Arial, "Roboto", "Noto", Helvetica, sans-serif;
}

html.with-statusbar-overlay body,
html.with-statusbar-overlay body .panel {
    padding-top: 0px;
}

html.with-statusbar-overlay .floating-button {
    bottom: 36px;
}

html.with-statusbar-overlay body .views {
    border-top: 20px solid #e60000;
}

.navbar .navbar-inner .center {
    font-family: "Vodafone"!important;
    font-weight: 300;
    font-size: 20px;
    margin-top: 1px;
}

.page {
    background-color: #E7E7E7;
}

.panel-overlay {
    background: rgba(0,0,0,.7);
}

body.with-panel-left-cover .panel {
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.picker-modal .toolbar {
    background-color: #797979;
}

.page[data-page="signin"] .content-block {
    margin: 64px 0 0 0;
}

.page[data-page="signin"] {
    background: #f8f8f8 url("../img/rhombus.png") bottom right no-repeat;
    background-size: 288px 468px;
    min-height: 550px;
}

.page[data-page="wifi"] .badge {
    background: #8FAE0F;
    font-size: 12px;
}

.card-title {
    font-family: "Vodafone"!important;
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;
}

.card-icon {
    text-align: center;
}

.card-description {
    text-align: center;
    color: #797979;
    font-size: 1.1em;
}

.card-content-inner img.live {
    max-width: 100%;
}

.menu-logo {
    background: url("../img/menu-logo.png") no-repeat;
    background-size: 67px 14px;
    height: 14px;
    width: 67px;
    margin: 30px auto 12px
}

.badge.new {
    background-color: #8FAE0F;
}

.router {
    background-size: contain;
    height: 130px;
    margin: 0 auto;
    background-position: 50%;
}

.router-img {
    background-image: url("../img/router.png");
    background-repeat: no-repeat;
}

.network-name {
    font-family: "Vodafone"!important;
    font-weight: 200;
    color: #797A79;
    font-size: 16px;
    text-align: center;
    margin: 8px 0;
}

.network-status-wrap {
    text-align: center;
}

.network-status {
    padding: 3px 12px;
    border-radius: 15px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
}

div[data-page="network"] .item-media.image-fallback {
    font-size: 0.7em;
}

.item-media.image-fallback.rssi {
    background: #FFF;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.item-title {
    color: #797979;
}

.online {
    border: 1px solid #8FAE0F;
    color: #8FAE0F;
}

.offline {
    border: 1px solid #e60000;
    color: #e60000;
}

.wifi-enabled > div:first-of-type .item-title {
    color: #797979;
}

.wifi-enabled .item-title {
    color: #B9B9B9;
}

.item-media .info {
    height: 40px;
    width: 40px;
    color: #797979;
}

.item-media .info-metric {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #CDCECE;
    margin-top: 2px;
}

.item-media .info-qualifier {
    font-size: 11px;
    width: 100%;
    display: inline-block;
    text-align: center;
    top: -12px;
    position: relative;
    color: #CDCECE;
}

.wifi-enabled .info-metric,
.wifi-enabled .info-qualifier {
    color: #8FAE0F;
}

.wifi-enabled .info,
.wifi-disabled .info {
    background: #FFF;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.item-media img {
    height: 44px;
    width: 44px;
}

.contacts-block .list-group-title {
    color: #212121;
}

.contacts-block .list-group-icon {
    height: 60px;
    width: 56px;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: 70%;
}

.contacts-block .list-group-icon.indicator-cabled,
.contacts-block .list-group-icon.indicator-phone {
    background-size: 82%;
}

.item-media.image-fallback {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: #E7E7E7;
    text-align: center;
    color: #797979;
    line-height: 28px;
}

.menu .list-block .item-title {
    color: #797979;
    font-size: 14px;
}

.menu .list-block .item-content,
.menu .list-block .item-inner {
    min-height: 40px;
}

.list-block .item-title {
    font-size: 15px;
}

.list-block .item-subtitle {
    font-size: 12px;
    color: #b9b9b9;
}

.menu .list-block .item-media+.item-inner {
    margin-left: 8px;
}

.menu .item-link.active {
    border-left: 3px solid #e60000;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 13px;
}

.menu .list-block .active .item-inner:after {
    background-color: transparent;
}

.swiper-slide .card {
    margin: 0 8px;
    padding-bottom: 15px;
}

.swiper-container {
    padding-bottom: 3px;
    margin: 35px 0;
}

.swiper-container-horizontal > .swiper-pagination {
    bottom: 5px;
    -webkit-transition: 0s;
    transition: 0s;
}

.card-key {
    color: #797979;
}

.card-value {
    color: #8FAE0F;
    font-weight: 600;
    margin-left: 10px;
}

.intro-help {
    background-repeat: no-repeat;
    height: 172px;
    width: 260px;
    background-size: contain;
    background-position: center;
    margin: 20px auto;
    display: block;
}

.router-power-button {
    background-image: url("../img/intro-help-power.png");
}

.router-password {
    background-image: url("../img/intro-help-password.png");
}

.router-wall-socket {
    background-image: url("../img/intro-help-wall-socket.png");
}

.router-connect {
    background-image: url("../img/intro-help-connect.png");
}

/* Vodafone colours */

.list-block .item-link.list-button,
.list-block .item-link,
.tabbar a.active,
a {
    color: #e60000;
}

.label-switch input[type="checkbox"]:checked + .checkbox{
    background-color: #8FAE0F;
}

.button:not(.button-fill) {
    color: #e60000;
}

.navbar .button:not(.button-fill),
.toolbar .button:not(.button-fill),
.subnavbar .button:not(.button-fill) {
    color: #fff;
}

.navbar~.toolbar {
    z-index: 500;
}

.navbar-fixed .toolbar {
    top: 55px;
}

.tabbar .tab-link-highlight {
    background: rgba(254, 203, 0, 1);
}

.button:not(.button-fill),
.buttons-row .button:not(.button-fill) {
    color: #e60000 !important;
}

.button.button-fill {
    background: #e60000;
    color: #fff;
}

html:not(.watch-active-state) .button.button-fill:active,
.button.button-fill.active-state,
.floating-button.active-state,
html:not(.watch-active-state) .floating-button:active {
    background: #64050a;
}

.button.button-fill {
    background: #e60000 !important;
    color: #fff;
}

html:not(.watch-active-state) .button.button-fill:active,
.button.button-fill.active-state {
    background: #64050a !important;
}

.progressbar {
    background-color: rgba(230, 0, 0, 0.5);
}

.progressbar span,
.progressbarspan {
    background-color: #e60000;
}

.progressbar-infinite {
    background-color: rgba(230, 0, 0, 0.2);
}

.progressbar-infinite:after,
.progressbar-infinite:before {
    background-color: #e60000;
}

i.icon {
    color: #e60000;
}

i.icon-next{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23e60000'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}

i.icon-prev{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23e60000'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}

i.icon-back{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23e60000'%2F%3E%3C%2Fsvg%3E");
}

i.icon-forward{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M12%204l-1.41%201.41L16.17%2011H4v2h12.17l-5.58%205.59L12%2020l8-8z'%20fill%3D'%23e60000'%2F%3E%3C%2Fsvg%3E");
}

i.icon-bars{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'%20fill%3D'%23e60000'%2F%3E%3C%2Fsvg%3E");
}

.preloader svg circle {
    stroke: #e60000;
}

.preloader .preloader-inner-gap,
.preloader .preloader-inner-half-circle {
    border-color: #e60000;
}

.navbar,
.toolbar,
.subnavbar,
.searchbar{
    background-color: #e60000;
}

.range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-sliderinput[type="range"]::-webkit-slider-thumb:before {
    background-color: #e60000;
}

.range-slider input[type="range"]::-webkit-slider-thumb,
.range-sliderinput[type="range"]::-webkit-slider-thumb {
    background-color: #e60000;
}

.range-slider input[type="range"]::-ms-thumb,
.range-sliderinput[type="range"]::-ms-thumb {
    background-color: #e60000;
}

.range-slider input[type="range"]::-ms-fill-lower,
.range-sliderinput[type="range"]::-ms-fill-lower {
    background-color: #e60000;
}

.range-slider input[type="range"]::-moz-range-thumb,
.range-sliderinput[type="range"]::-moz-range-thumb {
    background-color: #e60000;
}

.label-switch input[type="checkbox"]:checked + .checkbox,
.label-switchinput[type="checkbox"]:checked + .checkbox {
    background-color: rgba(143, 174, 15, 0.5);
}

.label-switch input[type="checkbox"]:checked + .checkbox:after,
.label-switchinput[type="checkbox"]:checked + .checkbox:after {
    background-color: #8FAE0F;
}

label.label-checkbox{
    cursor: pointer;
}

label.label-checkbox i.icon-form-checkbox:after,
label.label-checkboxi.icon-form-checkbox:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23ffffff'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M9%2016.17L4.83%2012l-1.42%201.41L9%2019%2021%207l-1.41-1.41z'%2F%3E%3C%2Fsvg%3E");
}

label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
label.label-checkboxinput[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox,
label.label-checkboxinput[type="radio"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type="checkbox"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkboxinput[type="checkbox"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkboxinput[type="radio"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox input[type="checkbox"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkboxinput[type="checkbox"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkboxinput[type="radio"]:checked ~ .item-inner i.icon-form-checkbox {
    border-color: #e60000;
    background-color: #e60000;
}

label.label-radio i.icon-form-radio:after,
label.label-radioi.icon-form-radio:after {
    background-color: #e60000;
}

label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio,
label.label-radioinput[type="checkbox"]:checked + .item-media i.icon-form-radio,
label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio,
label.label-radioinput[type="radio"]:checked + .item-media i.icon-form-radio,
label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio,
label.label-radioinput[type="checkbox"]:checked ~ .item-after i.icon-form-radio,
label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio,
label.label-radioinput[type="radio"]:checked ~ .item-after i.icon-form-radio,
label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio,
label.label-radioinput[type="checkbox"]:checked ~ .item-inner i.icon-form-radio,
label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio,
label.label-radioinput[type="radio"]:checked ~ .item-inner i.icon-form-radio {
    border-color: #e60000;
}

label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio:after,
label.label-radioinput[type="checkbox"]:checked + .item-media i.icon-form-radio:after,
label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio:after,
label.label-radioinput[type="radio"]:checked + .item-media i.icon-form-radio:after,
label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radioinput[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radioinput[type="radio"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after,
label.label-radioinput[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after,
label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio:after,
label.label-radioinput[type="radio"]:checked ~ .item-inner i.icon-form-radio:after {
    background-color: #e60000;
}

.focus-state .label,
.focus-state .floating-label {
    color: #e60000;
}

.item-input-field.focus-state:after,
.input-field.focus-state:after,
.item-input-field.not-empty-state:after,
.input-field.not-empty-state:after {
    background: #e60000;
}

.picker-calendar-day.picker-calendar-day-today span {
    color: #e60000;
}

.picker-calendar-day.picker-calendar-day-selected span {
    background-color: #e60000;
    color: #fff;
}

.picker-calendar-day.picker-calendar-day-has-events span:after {
    background-color: #e60000;
}

.picker-header {
    background-color: #e60000;
}

.modal-button {
    color: #e60000;
}

.actions-modal-button {
    color: #797979;
}

.actions-modal-button.actions-modal-button-bold {
    font-weight: bold;
}

.actions-modal-button.color-button-cancel {
    color: #e60000;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #8FAE0F;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23e60000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23e60000'%2F%3E%3C%2Fsvg%3E");
}

.list-block .swipeout-actions-left,
.list-block .swipeout-actions-right {
    background-color: #e60000;
}

.border-red {
    border-color: #e60000;
}

.list-block .border-red.item-inner:after,
.list-block ul.border-red:after,
.border-red:after,
.list-block .border-red.item-inner:before,
.list-block ul.border-red:before,
.border-red:before {
    background-color: #e60000;
}

.floating-button,
.speed-dial-buttons a {
    color: #fff;
    background: #e60000;
}

.floating-button i,
.speed-dial-buttons a i {
    color: inherit;
}

.ripple-red .ripple-wave {
    background-color: rgba(230, 0, 0, 0.3);
}

.badge {
    background-color: #e60000;
    color: #fff;
}
