/* wifi manager */

.appbar-wifi {
    width: 66px !important;
    height: 50px !important;

    svg {
        color: #FFFFFF !important;
    }
}

.wifi-modal {
    .wifi-scanning {
    	text-align: center;
        margin-top: 100px !important;
    }

    .wifi-none {
    	text-align: center;
        margin: 3rem;
    }

    .wifi-rescan {
    	background-color: transparent !important;
    }

    .wifi-block {
        margin-top: 50px;
    }

    .modalbar {
        position: absolute !important;
    }
}

.debug-block {
    margin: 4rem 1rem 1rem;

    > div {
        margin-right: 1rem;
    }
}
