$yellow:        #ffcc00;
$yellow-dark:   #ffb612;
$pink:          #D7054C;
$blue:	        #00B0C8;
$dark-grey:     #C3C3C3;
$background:    #ECEDEC;
$text:          #25262A;
$white:         #FFF;

body {
    font-family: "Roboto", sans-serif;
}

#app {
    background-color: $background;
    border-top: 44px solid #000000;
    box-sizing: border-box;
}

.appbar {
  background-color: #25262A;

	h1 {
		font-size: 20px !important;
	}
}

.navbar {
	position: absolute;
    bottom: 0;

    button {
        padding-top: 8px !important;
    }
}

.background-v {
    background: transparent url("../img/v.png") bottom center no-repeat;
    background-size: 390px;
    min-height: 608px;
}

.welcome {
    padding: 1.5rem 1.5rem 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    color: $text;
    transform: translateY(30px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.3s;
}

.paper-main {
    margin: 1.5rem;
    padding: 1.5rem;

    .paper-desc {
        font-weight: 300;
        text-align: center;
        margin-bottom: 0.75rem;
    }
}

.network-status {
    position: relative;
    width: 100%;
    height: 345px;
    background: $background;
    background: -webkit-linear-gradient(top, $background 0%, $background 55%, darken($background, 5%) 70%, $background 80%);
    border-bottom: 1px solid darken($background, 5%);

    .network-status-text {
        text-align: center;
        padding: 2rem 1.5rem 0 1.5rem;
        font-size: 28px;
        font-weight: 400;
        line-height: 120%;
        color: $text;

        div {
            transform: translateY(30px);
            opacity: 0;
            animation-name: titleAnimation;
            animation-timing-function: ease;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-delay: 0.5s;

            &:nth-of-type(2) {
                animation-delay: 0.75s;
            }
        }
    }

    .network-status-good {
        color: $text;
        font-weight: 100;
    }

    .network-status-gateway {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 250px;
        background: transparent url("../img/gateway.png") -44px 20px no-repeat;
        background-size: cover;
    }

    .network-status-counters {
        position: absolute;
        bottom: 10.6rem;
        padding-left: 3.5rem;
    }
}

.floating-counter {
    display: inline-block;
    padding-left: 1rem;
    width: 6rem;
    text-align: center;

    &:first-of-type {
        padding-left: 1.5rem;
    }

    .floating-counter-devices {
        border-radius: 0 !important;

        button {
            border-radius: 0 !important;
        }
    }

    .floating-counter-title {
        color: #777;
        font-size: 12.5px;
        margin-bottom: 0.75rem;
        margin-top: 0.25rem;
        border-radius: 0 !important;

        button {
            border-radius: 0 !important;
        }
    }

    .floating-counter-people {
        border-radius: 0 !important;

        button {
            border-radius: 0 !important;
        }
        button:first-of-type {
            background: $white url("../img/avatar.jpg") center center no-repeat;
            background-size: contain;
        }
        svg {
            display: none !important;
        }
    }

    .floating-counter-count div {
        color: $blue !important;
        font-size: 1.2rem;
        line-height: 48px;
    }
}

.quick-actions {
    position: relative;
    width: 100%;
    height: 246px;

    .quick-actions-label {
        padding: 1.5rem 0 1rem 1.5rem;
        color: $dark-grey;
        font-size: 12.5px;
    }

    .quick-actions-edit {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        color: $blue;
        font-size: 12.5px;
        text-transform: uppercase;
    }

    .quick-actions-add {
        position: absolute;
        bottom: 1rem;
        right: 0.75rem;
    }

    .quick-actions-action {
        overflow: hidden;
        position: relative;

        hr {
            position: absolute;
            top: 40%;
            width: 90%;
            left: 5px;
            background-color: #ECECEC !important;
        }
    }

    .quick-actions-name {
        color: $blue;
        font-weight: 500;
        position: absolute;
        bottom: 1.75rem;
    }

    .quick-actions-section {
        color: $dark-grey;
        position: absolute;
        bottom: 0.5rem;
    }

    .quick-actions-name,
    .quick-actions-section {
        left: 0.7rem;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 14px;
        overflow: hidden;
    }
}

.devices-title {
    margin: 1.5rem;
    font-size: 1rem;
    color: rgb(71, 73, 74);

    b {
        margin-right: 3px;
        color: $blue;
    }
}

@keyframes titleAnimation {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.NetworkMap {
    margin-top: -21.5rem;
    position: absolute;
    stroke-width: 0.4;
    width: 100%;
    height: 100%;
}
.NetworkMap text {
    fill: #333;
}
.NetworkMap .indicator {
    fill: $text;
}
.NetworkMap .shadowicon {
    fill: #fff;
    filter:url(#dropshadow);
}
.NetworkMap .on {
    fill: $blue;
}
.NetworkMap .off {
    fill: #ffcb05;
}
.NetworkMap .disabled {
    fill: #D3D3D3;
}
.NetworkMap .outline {
    fill:none;
}
.NetworkMap .outline.on {
    stroke: $blue;
}
.NetworkMap .outline.off {
    stroke: #ffcb05;
}
.NetworkMap .outline.disabled {
    stroke: #D3D3D3;
}
.NetworkMap .contrast {
    fill: #989898;
}
.NetworkMap .darkest {
    fill: #000;
}
@keyframes rotate {
  10% {
    transform: scale(1.3);
  }
}
@keyframes fade {
  50% {
    opacity: 0.5;
  }
}
.NetworkMap .off, .NetworkMap .disabled {
animation: fade 1000ms alternate;
}
.NetworkMap .shadowicon, .NetworkMap .warning {
transform-origin: 10% 10%;
animation: rotate 1000ms alternate;
}
@keyframes cycle {
   100% {
        stroke-dashoffset: -2%;
    }
}
.NetworkMap .outline.on.liner {
    animation: cycle 1000ms infinite linear;
    stroke-dasharray: 1%;
}
@keyframes bubble{
   100% {
        r: 15;
        opacity: 0;
    }
}
.NetworkMap .bubble {
    stroke: #d63181;
    fill: none;
    animation: bubble 2000ms infinite
}
.NetworkMap .bubble-2 {
    stroke: #d63181;
    fill: none;
    animation: bubble 2000ms infinite;
    animation-delay: 500ms;
}

.camera-product, .camera-tick {
    background-image: url("../img/camera-product-new.png");
    background-size: contain;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.camera-tick {
    background-image: url("../img/tick.png");
}

.camera-main {
    text-align: center;
}

.camera-live {
    padding: 4px 4px 0 4px !important;
}

.live {
    width: 100%;
}

.quick-actions-add {
    position: absolute;
    bottom: 4.8rem;
    right: 1.1rem;
}

.camera-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

.diagnostics-stepper {
    margin: 1.5rem;
    padding: 0.5rem 0.5rem 1rem;
}

.step-button {
    margin: 0 0.5rem 0.5rem 0 !important;

    button {
        background-color: $blue !important;
    }
}
